.user-box {
    width: auto;
    height: auto;                 
    background: white;          
    padding: 2.5rem;
    border-radius: 0.7rem;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.campo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.4rem 0.5rem;
    margin: 0 auto 1.2rem auto;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 1px var(--shadow-border);
    cursor: none;
    transition: box-shadow 0.5s ease;
    background-color: var(--color-surface);
}

.campo:hover {
    box-shadow: 0 0 0 1px var(--color-text-primary);
}

.campo i {
    font-size: 1.5rem;
    color: #6b7280;
    margin-right: 0.75rem;
    min-width: 50;
    background-color: var(--botones-dark);
    color: var(--color-text-secondary);
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo:hover i {
    color: var(--color-text-primary);
}

.campo input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-text-primary);
    padding: 0.25rem 0;
}
