@if (user()) {
<div>

  <div class="container d-flex align-items-center text-center justify-content-center">
    <div class="position-absolute top-50 start-50 translate-middle align-items-center">

      <div class="fade-in">

        <!-- TABLERO -->
        <div class="board" role="grid" [attr.aria-rowcount]="rowsCount" [attr.aria-colcount]="colsCount">

          @for (row of rows; let rowIndex = $index; track rowIndex) {
          <div class="row" role="row">
            @for (col of cols; let colIndex = $index; track colIndex) {
            <input class="tile" role="gridcell" [attr.aria-colindex]="colIndex + 1" [attr.aria-rowindex]="rowIndex + 1"
              [id]="getCellId(rowIndex, colIndex)" type="text" inputmode="text" autocomplete="off"
              autocapitalize="characters" spellcheck="false" maxlength="1" [(ngModel)]="board[rowIndex][colIndex]"
              (input)="onCellInput($event, rowIndex, colIndex)" (keydown)="onCellKeydown($event, rowIndex, colIndex)"
              [ngClass]="[getColor(rowIndex, colIndex), animacionesFila[rowIndex][colIndex]]"
              [disabled]="filasBloqueadas[rowIndex] || juegoTerminado" />
            }
          </div>
          }
          @if (errorMsg) {
           <div class="error-msg" role="alert">{{ errorMsg }}</div>
          }

          @if (mensajeVictoria) {
          <div class="popup" role="alert">
            <div class="popup-content">
              <h2>{{ mensajeVictoria }}</h2>
              <button class="login-btn" (click)="mensajeVictoria = null">Cerrar</button>
            </div>
          </div>
          }
        </div>
        <div class="teclado-wrapper" aria-hidden="{{juegoTerminado ? 'true' : 'false'}}">

          <div class="fila-teclado" role="toolbar">
            <button *ngFor="let k of fila1" class="tecla" [ngClass]="estadoTecla[k] || ''" (click)="clickTecla(k)"
              [disabled]="juegoTerminado">{{ k }}</button>
          </div>

          <div class="fila-teclado" role="toolbar">
            <button *ngFor="let k of fila2" class="tecla" [ngClass]="estadoTecla[k] || ''" (click)="clickTecla(k)"
              [disabled]="juegoTerminado">{{ k }}</button>
          </div>

          <div class="fila-teclado" role="toolbar">
            <button class="tecla tecla-mayor" (click)="clickEnter()">ENTER</button>

            <button *ngFor="let k of fila3" class="tecla" [ngClass]="estadoTecla[k] || ''" (click)="clickTecla(k)">{{ k
              }}</button>

            <button class="tecla tecla-mayor" (click)="clickBackspace()">⌫</button>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

} @else {
<div class="container d-flex align-items-center text-center justify-content-center">
  <div class="position-absolute top-50 start-50 translate-middle align-items-center">

    <h2 class="mb-4">Debes iniciar sesión para jugar</h2>
    <a routerLink="/" class="login-btn mx-2 flex-fill" style="max-width: 200px;">Ir a Inicio</a>
  </div>
</div>
}