@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* SIDEBAR */
.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: space-between;
    width: 15rem;
    height: 100%;
    padding: 1.4rem 1rem 0 1rem;
    background-color: var(--color-surface);
    box-shadow: 1px 0px 10px var(--shadow-border);
    transition: width 0.5s ease;
    z-index: 300;
}

.sidebar.minimized .menu-container {
    align-items: center;
    width: 100%;
}

.sidebar.minimized {
    width: 4.94rem;
}

.sidebar.minimized .menu-btn i {
    transform: rotate(180deg);
}

.sidebar.minimized .search {
    box-shadow: none;
}

.sidebar.minimized .search:hover {
    background-color: var(--color-bg);
}

/* HEADER */
.header {
    width: 100%;
}

/* Rotar el icono del botón */
.menu-btn i.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/*MENU BOTON*/
.menu-btn {
    position: absolute;
    top: 3.5rem;
    right: -0.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: #fff;
    color: #757575;
    box-shadow: 2px 2px 5px var(--shadow-border);
    cursor: pointer;
    transition: right 0.3s ease;
}

.menu-btn i {
    font-size: 1.6rem;
}

/* BRAND */
.brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    margin-bottom: 1.8rem;
    overflow: hidden;
}

.sidebar.minimized .brand span {
    display: none;

}

.brand img {
    height: 2.45rem;
}

.brand span {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-text-primary);

}

/* MENU CONTAINER */
.menu-container {
    display: block;
    height: 100%;
    width: 100%;
}

/* SEARCH */
.search {
    display: flex;
    width: 100%;
    padding: 0.55rem 0;
    margin-bottom: 1.2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 1px var(--shadow-border);
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

.search:hover {
    box-shadow: 0 0 0 1px var(--color-text-primary);
}

.search i {
    font-size: 1.4rem;
    color: var(--color-text-secondary);
    padding: 0 0.8rem;
}

.search:hover i {
    color: var(--color-text-primary);
}

.search input {
    width: 70%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-text-primary);
}

/* MENU */
.menu {
    width: 100%;
    display: contents;
    gap: 0.5rem;
}

.menu .menu-item {
    position: relative;
    list-style: none;
    overflow: hidden;
}

.menu .menu-link {
    display: flex;
    padding: 0.55rem 0;
    color: var(--color-text-secondary);
    text-decoration: none;
    border-radius: 0.3rem;
    ;
}

.menu-item:hover .menu-link,
.sub-menu .sub-menu-link:hover,
.menu-item.active .menu-link {
    background-color: rgba(230, 230, 230, 0.445);
    color: var(--color-text-primary);
}

.menu-link i {
    font-size: 1.5rem;
    padding: 0 0.8rem;
}

.menu-link i:last-child {
    margin-left: auto;
}

.menu-link i.bx-chevron-down {
    transition: transform 0.3s ease-in-out;
}

.menu-link i.bx-chevron-down.open {
    transform: rotate(180deg);
}

.sidebar.minimized .menu-link i:last-child {
    display: none;
}

.menu-link span {
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    min-width: 0;
}

.sidebar.minimized .menu-item {
    overflow: visible;
}

/* Tooltip oculto inicialmente */
.sidebar.minimized .menu-item span {
    position: absolute;
    top: 45%;
    left: 4.2rem;
    transform: translateY(-50%) translateX(10px);
    opacity: 0;
    visibility: hidden;
    padding: 0.4rem 0.6rem;
    background-color: var(--color-tooltip-bg);
    border-radius: 0.4rem;
    color: var(--color-tooltip-text);
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    pointer-events: none;
    z-index: 10;
    display: inline-block;
    white-space: nowrap;
    max-width: none;
    line-height: 1;
}

/* Mostrar tooltip con animación */
.sidebar.minimized .menu-item:hover span {
    opacity: 1;
    visibility: visible;
    transform: translateY(-40%) translateX(0);
    transition: all 0.3s ease;
}

.sidebar.minimized .sub-menu.open {
    margin-top: -10%;
}


/* SUBMENU */
.sub-menu {
    list-style: none;
    max-height: 0;
    transition: all 0.3s ease;
    overflow: hidden;
}

.sidebar.minimized .sub-menu {
    position: absolute;
    left: 4.2rem;
    top: 3rem;
    background-color: var(--color-surface);
    border-radius: 0.2rem;
}

.sidebar.minimized .sub-menu::before {
    width: 0;
}

.sidebar.minimized .sub-menu a {
    margin-left: -20%;
}

.sub-menu.open {
    max-height: 500px;
}

.sub-menu .sub-menu-link {
    display: block;
    margin-left: 2.5rem;
    padding: 0.55rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text-secondary);
    text-decoration: none;
    border-radius: 0.3rem;
    min-width: 0;
}

.sub-menu::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.07rem;
    margin-left: 1.4rem;
    background-color: var(--color-border);
}

.menu-item.menu-item-dropdown .menu-link span,
.sub-menu .sub-menu-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* FOOTER */
.footer {
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 -0.02rem 0 0 var(--color-border);
}

.user {
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.user-data {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}

.sidebar.minimized .user-data {
    display: none;
}

.user-data .name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-text-primary);
}

.user-data .email {
    font-size: 0.8rem;
    color: var(--color-text-secondary);
}

.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.5rem;
    color: var(--color-text-secondary);
    transition: color 0.3s ease;
    flex-shrink: 0;
    border-radius: 0.3rem;
}

.user-icon:hover {
    color: var(--color-text-primary);
    background-color: rgba(230, 230, 230, 0.445);
}

.sidebar-btn {
    display: none;
}

.sidebar-btn i {
    font-size: 1.2rem;
}
.sidebar-btn i:last-child {
    display: none;
}
.sidebar-btn.open i:first-child {
    display: none;
}
.sidebar-btn.open i:last-child {
    display: block;
}

@media (max-width: 1225px) {
    #menu-btn {
        display: none;
    }
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    .sidebar-btn {
        display: flex;
        right: 1rem;
        padding: 1.2rem;
    }
    .sidebar-btn i:last-child {
        display: none;
    }
    .sidebar.mobile-open {
        transform: translateX(0);
    }

}

