<nav>
    <div class="sidebar" id="sidebar" [ngClass]="{'minimized': sidebarMinimized}">
        <div class="menu-btn" id="menu-btn" (click)="toggleSidebar()">
            <i class="bx bx-chevron-left"></i>
        </div>
        <div class="header">

            <div class="brand">
                <img src="logo.png" alt="logo">
                <span>LexiGuess</span>
            </div>
        </div>

        @if (user()) {
        <div class="menu-container">
            <ul class="menu">
                <li class="menu-item menu-item-static active">
                    <a routerLink="/partida" class="menu-link">
                        <i class="bx bx-game"></i>
                        <span>Jugar</span>
                    </a>
                </li>
                @if (user()?.rol === 'usuario') {
                <li class="menu-item menu-item-dropdown" (mouseenter)="onSidebarItemHover(0)"
                    (mouseleave)="closeAllDropdowns()">
                    <a class="menu-link" (click)="toggleDropdown(0); $event.preventDefault()">
                        <i class="bx bx-user"></i>
                        <span>Perfil</span>
                        <i class="bx bx-chevron-down" [class.open]="dropdownOpen[0]"></i>
                    </a>
                    <ul class="sub-menu" [class.open]="dropdownOpen[0]">
                        <li><a routerLink="/usuario" class="sub-menu-link">Mi perfil</a></li>
                        <li><a [routerLink]="['/editar-usuario']" [queryParams]="{ id: user()?.idUsuario }" 
                            class="sub-menu-link">Editar mi usuario</a></li>
                    </ul>
                </li>
                }

                @else if (user()?.rol === 'admin') {
                <li class="menu-item menu-item-dropdown" (mouseenter)="onSidebarItemHover(1)"
                    (mouseleave)="closeAllDropdowns()">
                    <a class="menu-link" (click)="toggleDropdown(1); $event.preventDefault()">
                        <i class="bx bx-user"></i>
                        <span>Perfil</span>
                        <i class="bx bx-chevron-down" [class.open]="dropdownOpen[1]"></i>
                    </a>
                    <ul class="sub-menu" [class.open]="dropdownOpen[1]">
                        <li><a routerLink="/usuario" class="sub-menu-link">Usuario</a></li>
                        <li><a routerLink="/lista-usuarios" class="sub-menu-link">Lista de usuarios</a></li>
                    </ul>
                </li>
                }

                <li class="menu-item menu-item-static">
                    <a routerLink="/usuarios/logros" class="menu-link">
                        <i class="bx bx-trophy"></i>
                        <span>Mis logros</span>
                    </a>
                </li>
                @if (user()?.rol === 'admin') {
                <li class="menu-item menu-item-dropdown" (mouseenter)="onSidebarItemHover(2)"
                    (mouseleave)="closeAllDropdowns()">
                    <a class="menu-link" (click)="toggleDropdown(2); $event.preventDefault()">
                        <i class="bx bx-font-color"></i>
                        <span>Palabras</span>
                        <i class="bx bx-chevron-down" [class.open]="dropdownOpen[2]"></i>
                    </a>
                    <ul class="sub-menu" [class.open]="dropdownOpen[2]">
                        <li><a routerLink="/new-palabra" class="sub-menu-link">Añadir palabra</a></li>
                        <li><a routerLink="/lista-palabras" class="sub-menu-link">Lista de palabras</a></li>
                    </ul>
                </li>
                }
            </ul>
        </div>
        }

        <div class="footer">
            <div class="user">
                @if (user()) {
                <div class="user-data">
                    <span class="name">{{ user()?.nombre }}</span>
                    <span class="email">{{ user()?.email }}</span>
                </div>

                <div class="user-icon" (click)="logout()" style="cursor: pointer;" title="Cerrar sesión">
                    <i class="bx bx-exit"></i>
                </div>
                }
            </div>

        </div>
    </div>

</nav>