<div>
    <div class="container d-flex align-items-center text-center justify-content-center">
        <div class="position-absolute top-50 start-50 translate-middle align-items-center">
            <div class="form-box">
                <h2 class="mb-4">Editar Palabra</h2>

                <form (ngSubmit)="guardarCambios()">
                    <div>
                        <div class="campo">
                            <i class="bx bx-hash"></i>
                            <input [(ngModel)]="palabraId" type="text" name="id" id="id" placeholder="ID" disabled>
                        </div>
                    </div>
                    <div class="mb-3 text-start">
                        <div class="campo">
                            <i class="bx bx-font-color"></i>
                            <input [(ngModel)]="palabra" type="text" name="palabra" id="palabra" placeholder="Palabra"
                                required>
                        </div>
                    </div>

                    <div class="mb-3 text-start">
                        <div class="campo">
                            <i class='bx bx-category'></i>
                            <input [(ngModel)]="categoria" type="text" name="categoria" id="categoria"
                                placeholder="Categoría" required>
                        </div>
                    </div>

                    <div class="mb-3 text-start">
                        <div class="campo">
                            <i class='bx bx-align-left'></i>
                            <textarea [(ngModel)]="descripcion" name="descripcion" id="descripcion"
                                placeholder="Descripción" required class="descripcion"></textarea>
                        </div>
                    </div>

                    @if (showPopup) {
                    <div class="popup-overlay">
                        <div class="popup">
                            <div class="popup-content">
                                <h2>Palabra actualizada correctamente</h2>
                                <button type="button" (click)="cerrarPopup()" class="cerrar-btn">Aceptar</button>
                            </div>
                        </div>
                    </div>
                    }

                    @if (errorMsg) {
                    <p style="color: red; margin: 10px;">{{ errorMsg }}</p>
                    }

                    <div class="button-group">
                        <button type="submit" class="create-btn" [disabled]="isLoading">
                            {{ isLoading ? 'Guardando...' : 'Guardar cambios' }}
                        </button>
                        <button type="button" class="cancel-btn" (click)="cancelar()" [disabled]="isLoading">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>