<div class="bloque">
    <div class="redes">
        <a href="https://github.com/Frigosamu/LexiGuess" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
        </a>
        <div class="d-flex align-items-center justify-content-center flex-column">
            @if (mailCopiado()) {
            <span class="copied-badge">
                <i class="bi bi-check2"></i> Copiado
            </span>
            }
            <button class="icon-btn" type="button" (click)="openEmailPopup()">
                <i class="bi bi-envelope"></i>
                @if (emailPopup()) {
                <span class="mini-popup">
                    {{ email }}

                </span>
                }
            </button>
        </div>
        <div class="d-flex align-items-center justify-content-center flex-column">
            @if (phoneCopiado()) {
            <span class="copied-badge">
                <i class="bi bi-check2"></i>Copiado
            </span>
            }
            <button class="icon-btn" type="button" (click)="openPhonePopup()">
                <i class="bi bi-telephone"></i>
                @if (phonePopup()) {
                <span class="mini-popup">
                    {{ phone }}

                </span>
                }
            </button>
        </div>
    </div>

    <div class="ranking">
        <table class="table text-center justify-content-center">
            <thead>
                <tr>
                    <th>Posición</th>
                    <th>Usuario</th>
                    <th>Puntuación</th>
                </tr>
            </thead>
            <tbody>
                @for (r of ranking().slice(0, 15); track $index; let i = $index) {
                <tr [ngClass]="{
              'gold-row': i === 0,
              'silver-row': i === 1,
              'bronze-row': i === 2
            }">
                    <td>
                        <span class="position-badge" [ngClass]="{
                    'gold': i === 0,
                    'silver': i === 1,
                    'bronze': i === 2
                  }">
                            {{ i + 1 }}
                        </span>
                    </td>
                    <td class="user-cell">
                        <span class="medal-icon" *ngIf="i < 3" [ngClass]="{
                'gold': i === 0,
                'silver': i === 1,
                'bronze': i === 2
              }">
                            <i class="bi bi-award-fill"></i>
                        </span>
                        <span class="user-name">{{ r.usuario.nombre }}</span>
                    </td>
                    <td class="score-cell">
                        {{ r.puntuacionTotal }}
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>