.redes {
    position: fixed;
    top: 20px;
    right: 25px;

    background: white;
    padding: 0.8rem 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;

    z-index: 2000;
    color: black;
}


.redes i {
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.redes a{
    text-decoration: none;
    color: inherit;
}

.redes i:hover {
    transform: scale(1.2);
}


.ranking {
    width: auto;
    max-width: 700px;
    font-size: 0.85rem;
    text-align: left;
    position: fixed;
    top: 120px;
    right: 25px;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    color: black;
}

@media (max-width: 1225px) {
    .ranking {
        display: none;
    }
}